body {
   color:black; 
   background-color:LightBlue;
   font-family:cursive ;
   font-size:25px;
   text-align:center;
}
#start , #reset , #stop {
    width:100px;
    height:20px;
    color:black;
    border:dashed blue 2px;
    background-color:white;  
    text-align:center;
    
}


#h {
    width:90px;
    height:90px;
    font-size:80px;
    text-align:center;    
    margin-top:5px;
    
}

#m {
    width:90px;
    height:90px;
    font-size:80px;    
    text-align:center;    
    margin-left:15px;
    margin-top:5px;
    
}

#s {
    width:90px;
    height:90px;
    font-size:80px;    
    text-align:center; 
    margin-left:15px;
    margin-top:5px;
    
}
#stop:active , #reset:active , #start:active {
    color:white;
    background-color:black;
}
a {
    font-family:monospace;
    background-color:#ecbcb4;
    font-size:2em;
    font-weight:700;
    color:#503335;
    text-decoration:none;
}
a:active {
    background-color:#503335;
    color:#ecbcb4;
}
